<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CourseManageController</servlet-name>
        <servlet-class>Controller.CourseManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>Controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>Controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>Controller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>Controller.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourseController</servlet-name>
        <servlet-class>Controller.SearchCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManageController</servlet-name>
        <servlet-class>Controller.OrderManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>Controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountAdminController</servlet-name>
        <servlet-class>Controller.AccountAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateController</servlet-name>
        <servlet-class>Controller.AdminCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfileController</servlet-name>
        <servlet-class>Controller.AdminProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteController</servlet-name>
        <servlet-class>Controller.AdminDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateController</servlet-name>
        <servlet-class>Controller.AdminUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountCustomerController</servlet-name>
        <servlet-class>Controller.AccountCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>Controller.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderController</servlet-name>
        <servlet-class>Controller.SearchOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>Controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>Controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderChangeStatusController</servlet-name>
        <servlet-class>Controller.OrderChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>Controller.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNewsController</servlet-name>
        <servlet-class>Controller.DeleteNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewsController</servlet-name>
        <servlet-class>Controller.CreateNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNewsContrller</servlet-name>
        <servlet-class>Controller.UpdateNewsContrller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseManageController</servlet-name>
        <url-pattern>/coursemanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourseController</servlet-name>
        <url-pattern>/searchcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManageController</servlet-name>
        <url-pattern>/ordermanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountAdminController</servlet-name>
        <url-pattern>/admin_acc_manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateController</servlet-name>
        <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfileController</servlet-name>
        <url-pattern>/profileinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteController</servlet-name>
        <url-pattern>/deleteacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateController</servlet-name>
        <url-pattern>/updateinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountCustomerController</servlet-name>
        <url-pattern>/accountcusmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderController</servlet-name>
        <url-pattern>/searchorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderChangeStatusController</servlet-name>
        <url-pattern>/orderchangestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/newsmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNewsController</servlet-name>
        <url-pattern>/deletenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewsController</servlet-name>
        <url-pattern>/newscreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNewsContrller</servlet-name>
        <url-pattern>/updatenews</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
